<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{receptor.nombreComercial}}</title>

<body>
    <h1>{{receptor.nombreComercial}}</h1>

    <table>
        <thead>
            <tr>
                <th id="thCodigo">Código</th>
                <th id="thNombre">Nombre Comercial</th>
                <th id="thCorreo">Correo electrónico</th>
            </tr>
        <tbody>
            
            <tr>
                <td>{{this.receptor.codigo}}</td>
                <td>{{this.receptor.nombreComercial}}</td>
                <td>{{this.receptor.correo}}</td>
            </tr>
            
        </tbody>
        </thead>
    </table>
</body>
</head>

</html>